GeneralsClient/Service References/ServiceReference1/GeneralClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GeneralClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GeneralClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ScientificLevels">
    <xs:sequence>
      <xs:element minOccurs="0" name="DensityLevel" type="xs:int" />
      <xs:element minOccurs="0" name="EconomyLevel" type="xs:int" />
      <xs:element minOccurs="0" name="PeasantIncrementLevel" type="xs:int" />
      <xs:element minOccurs="0" name="ScientificLevel" type="xs:int" />
      <xs:element minOccurs="0" name="SeedIcrementLevel" type="xs:int" />
      <xs:element minOccurs="0" name="WarArtLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScientificLevels" nillable="true" type="tns:ScientificLevels" />
  <xs:simpleType name="ScientificLevelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Density" />
      <xs:enumeration value="PeasantIncrement" />
      <xs:enumeration value="SeedIncrement" />
      <xs:enumeration value="Economy" />
      <xs:enumeration value="WarArt" />
      <xs:enumeration value="Scientific" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ScientificLevelType" nillable="true" type="tns:ScientificLevelType" />
</xs:schema>