GeneralsClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Game" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGeneral_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GeneralClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneral_ReName_InputMessage">
    <wsdl:part name="parameters" element="tns:ReName" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ReName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_FinishRound_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishRound" />
  </wsdl:message>
  <wsdl:message name="IGeneral_FinishRound_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishRoundResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_IsFinish_InputMessage">
    <wsdl:part name="parameters" element="tns:IsFinish" />
  </wsdl:message>
  <wsdl:message name="IGeneral_IsFinish_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsFinishResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IGeneral_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_Registr_InputMessage">
    <wsdl:part name="parameters" element="tns:Registr" />
  </wsdl:message>
  <wsdl:message name="IGeneral_Registr_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_Autorise_InputMessage">
    <wsdl:part name="parameters" element="tns:Autorise" />
  </wsdl:message>
  <wsdl:message name="IGeneral_Autorise_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutoriseResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_Hierscietisctc_InputMessage">
    <wsdl:part name="parameters" element="tns:Hierscietisctc" />
  </wsdl:message>
  <wsdl:message name="IGeneral_Hierscietisctc_OutputMessage">
    <wsdl:part name="parameters" element="tns:HierscietisctcResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_HireSoldiers_InputMessage">
    <wsdl:part name="parameters" element="tns:HireSoldiers" />
  </wsdl:message>
  <wsdl:message name="IGeneral_HireSoldiers_OutputMessage">
    <wsdl:part name="parameters" element="tns:HireSoldiersResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetMaxCountScietists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxCountScietists" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetMaxCountScietists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxCountScietistsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetMaxCountSoldiers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxCountSoldiers" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetMaxCountSoldiers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxCountSoldiersResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetMaxCountOfSeeds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxCountOfSeeds" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetMaxCountOfSeeds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxCountOfSeedsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_BuySeeds_InputMessage">
    <wsdl:part name="parameters" element="tns:BuySeeds" />
  </wsdl:message>
  <wsdl:message name="IGeneral_BuySeeds_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuySeedsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SellSeeds_InputMessage">
    <wsdl:part name="parameters" element="tns:SellSeeds" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SellSeeds_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellSeedsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SellSoldiers_InputMessage">
    <wsdl:part name="parameters" element="tns:SellSoldiers" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SellSoldiers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellSoldiersResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SellScietists_InputMessage">
    <wsdl:part name="parameters" element="tns:SellScietists" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SellScietists_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellScietistsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForScientificLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForScientificLevel" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForScientificLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForScientificLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForDensityLvl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForDensityLvl" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForDensityLvl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForDensityLvlResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForSeedIcrementLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForSeedIcrementLevel" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForSeedIcrementLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForSeedIcrementLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForEconomyLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForEconomyLevel" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForEconomyLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForEconomyLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForWarArtLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForWarArtLevel" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForWarArtLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForWarArtLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForPeasantIncrementLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForPeasantIncrementLevel" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetYearsForPeasantIncrementLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsForPeasantIncrementLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_HireGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:HireGeneral" />
  </wsdl:message>
  <wsdl:message name="IGeneral_HireGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:HireGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_FireGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:FireGeneral" />
  </wsdl:message>
  <wsdl:message name="IGeneral_FireGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:FireGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetCountOfGenerals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfGenerals" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetCountOfGenerals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfGeneralsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneral">
    <wsdl:operation name="ReName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ReName" message="tns:IGeneral_ReName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ReNameResponse" message="tns:IGeneral_ReName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishRound">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/FinishRound" message="tns:IGeneral_FinishRound_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/FinishRoundResponse" message="tns:IGeneral_FinishRound_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsFinish">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/IsFinish" message="tns:IGeneral_IsFinish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/IsFinishResponse" message="tns:IGeneral_IsFinish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetCount" message="tns:IGeneral_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetCountResponse" message="tns:IGeneral_GetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/AddUser" message="tns:IGeneral_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/AddUserResponse" message="tns:IGeneral_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registr">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/Registr" message="tns:IGeneral_Registr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/RegistrResponse" message="tns:IGeneral_Registr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Autorise">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/Autorise" message="tns:IGeneral_Autorise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/AutoriseResponse" message="tns:IGeneral_Autorise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hierscietisctc">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/Hierscietisctc" message="tns:IGeneral_Hierscietisctc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/HierscietisctcResponse" message="tns:IGeneral_Hierscietisctc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HireSoldiers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/HireSoldiers" message="tns:IGeneral_HireSoldiers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/HireSoldiersResponse" message="tns:IGeneral_HireSoldiers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxCountScietists">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetMaxCountScietists" message="tns:IGeneral_GetMaxCountScietists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetMaxCountScietistsResponse" message="tns:IGeneral_GetMaxCountScietists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxCountSoldiers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetMaxCountSoldiers" message="tns:IGeneral_GetMaxCountSoldiers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetMaxCountSoldiersResponse" message="tns:IGeneral_GetMaxCountSoldiers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxCountOfSeeds">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetMaxCountOfSeeds" message="tns:IGeneral_GetMaxCountOfSeeds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetMaxCountOfSeedsResponse" message="tns:IGeneral_GetMaxCountOfSeeds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuySeeds">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/BuySeeds" message="tns:IGeneral_BuySeeds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/BuySeedsResponse" message="tns:IGeneral_BuySeeds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SellSeeds">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/SellSeeds" message="tns:IGeneral_SellSeeds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/SellSeedsResponse" message="tns:IGeneral_SellSeeds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SellSoldiers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/SellSoldiers" message="tns:IGeneral_SellSoldiers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/SellSoldiersResponse" message="tns:IGeneral_SellSoldiers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SellScietists">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/SellScietists" message="tns:IGeneral_SellScietists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/SellScietistsResponse" message="tns:IGeneral_SellScietists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYearsForScientificLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetYearsForScientificLevel" message="tns:IGeneral_GetYearsForScientificLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetYearsForScientificLevelResponse" message="tns:IGeneral_GetYearsForScientificLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYearsForDensityLvl">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetYearsForDensityLvl" message="tns:IGeneral_GetYearsForDensityLvl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetYearsForDensityLvlResponse" message="tns:IGeneral_GetYearsForDensityLvl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYearsForSeedIcrementLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetYearsForSeedIcrementLevel" message="tns:IGeneral_GetYearsForSeedIcrementLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetYearsForSeedIcrementLevelResponse" message="tns:IGeneral_GetYearsForSeedIcrementLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYearsForEconomyLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetYearsForEconomyLevel" message="tns:IGeneral_GetYearsForEconomyLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetYearsForEconomyLevelResponse" message="tns:IGeneral_GetYearsForEconomyLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYearsForWarArtLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetYearsForWarArtLevel" message="tns:IGeneral_GetYearsForWarArtLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetYearsForWarArtLevelResponse" message="tns:IGeneral_GetYearsForWarArtLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYearsForPeasantIncrementLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetYearsForPeasantIncrementLevel" message="tns:IGeneral_GetYearsForPeasantIncrementLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetYearsForPeasantIncrementLevelResponse" message="tns:IGeneral_GetYearsForPeasantIncrementLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HireGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/HireGeneral" message="tns:IGeneral_HireGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/HireGeneralResponse" message="tns:IGeneral_HireGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FireGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/FireGeneral" message="tns:IGeneral_FireGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/FireGeneralResponse" message="tns:IGeneral_FireGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountOfGenerals">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetCountOfGenerals" message="tns:IGeneral_GetCountOfGenerals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetCountOfGeneralsResponse" message="tns:IGeneral_GetCountOfGenerals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGeneral" type="tns:IGeneral">
    <wsp:PolicyReference URI="#NetTcpBinding_IGeneral_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ReName">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/ReName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishRound">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/FinishRound" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFinish">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/IsFinish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registr">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/Registr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autorise">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/Autorise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hierscietisctc">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/Hierscietisctc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HireSoldiers">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/HireSoldiers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxCountScietists">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetMaxCountScietists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxCountSoldiers">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetMaxCountSoldiers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxCountOfSeeds">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetMaxCountOfSeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuySeeds">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/BuySeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellSeeds">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/SellSeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellSoldiers">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/SellSoldiers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellScietists">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/SellScietists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearsForScientificLevel">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetYearsForScientificLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearsForDensityLvl">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetYearsForDensityLvl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearsForSeedIcrementLevel">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetYearsForSeedIcrementLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearsForEconomyLevel">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetYearsForEconomyLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearsForWarArtLevel">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetYearsForWarArtLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearsForPeasantIncrementLevel">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetYearsForPeasantIncrementLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HireGeneral">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/HireGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FireGeneral">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/FireGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountOfGenerals">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/GetCountOfGenerals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Game">
    <wsdl:port name="NetTcpBinding_IGeneral" binding="tns:NetTcpBinding_IGeneral">
      <soap12:address location="net.tcp://localhost/General/ep1" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/General/ep1</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MILA\Михаил</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>